<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>我的课程</title>
    <link rel="stylesheet" href="../../static/css/myLesson/index.css"/>
    <link rel="stylesheet" href="../../static/css/public/common.css"/>
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
                    dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
            //dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                    scale = 1 / dpr,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            docEl.dataset.dpr = dpr;
            var recalc = function() {
                var width = docEl.clientWidth;
                if (width / dpr > 640) {
                    width = 640 * dpr;
                }
                window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
                docEl.style.fontSize = 200 * (width / 640) + 'px';
            };
            recalc();
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
</head>
<body>
<header></header>
<section>
    <div class="noLesson">
        <div class="image"></div>
        <button>我知道了</button>
    </div>
</section>
</body>
</html>