<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>我的课程</title>
    <link rel="stylesheet" href="../../static/css/public/common.css"/>
    <link rel="stylesheet" href="../../static/css/public/public.css"/>
    <link rel="stylesheet" href="../../static/css/myLesson/index.css"/>
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
                    dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
            //dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                    scale = 1 / dpr,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            docEl.dataset.dpr = dpr;
            var recalc = function() {
                var width = docEl.clientWidth;
                if (width / dpr > 640) {
                    width = 640 * dpr;
                }
                window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
                docEl.style.fontSize = 200 * (width / 640) + 'px';
            };
            recalc();
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
</head>
<body>
<header>
    <a class="back" href="javascript:;" ></a>
    我的课程
</header>
<!--未选课状态-->
<div class="noLesson">
    <div class="image"></div>
    <a href="#">我要选课</a>
</div>
<!--未选课状态-->
<div class="hasLesson">
    <i class="rope rope-left"></i>
    <i class="rope rope-right"></i>
    <div class="myLessonBox">
        <ul>
            <li>
                <p>星期一</p>
                <div>沙画</div>
            </li>
            <li>
                <p>星期二</p>
                <div>沙画</div>
            </li>
            <li>
                <p>星期三</p>
                <div>沙画</div>
            </li>
            <li>
                <p>星期四</p>
                <div>沙画</div>
            </li>
            <li>
                <p>星期五</p>
                <div>沙画</div>
            </li>
        </ul>
    </div>
    <div class="lessonBox">
        <table>
            <tr>
                <th colspan="2">沙画</th>
            </tr>
            <tr>
                <td>上课时间：<span class="lesson-time">星期二下午</span></td>
                <td>上课地点：<span class="lesson-address">逸夫楼A703</span></td>
            </tr>
            <tr>
                <td>上课老师：<span class="lesson-teacher">王老师</span></td>
                <td>适合年级：<span class="lesson-grade">一年级</span></td>
            </tr>
            <tr class="lessonToolBox">
                <td colspan="2">
                    <p>上课用具：</p>
                    <ul>
                        <li>沙画台</li>
                        <li>沙子</li>
                    </ul>
                    <button class="buy-button">购买</button>
                </td>
            </tr>
        </table>
    </div>
    <button class="cancel-button">取消报名</button>
</div>
</body>
</html>