@rem:200*750/640rem;
body{
  max-width:750/@rem;
  background-color: #fff;
}
.clearfix{
  display: table;
  clear: both;
  content: '';
}
section{
  width: 100%;
  .noLesson{
    margin-top: 181/@rem;
    width: 100%;
    .image{
      margin: 0 auto 50/@rem auto;
      width: 385/@rem;
      height: 297/@rem;
      background-image: url("../../images/noLesson.png");
      background-size: 100% 100%;
    }
    button{
      display: block;
      margin: 0 auto;
      border-radius: 32/@rem;
      -webkik-border-radius: 32/@rem;
      width: 240/@rem;
      height: 64/@rem;
      background-color: #5ad6a9;
      color: #ffffff;
    }
  }
  
}