.clearfix {
  display: table;
  clear: both;
  content: "";
}
.notApplied {
  display: none;
  padding-top: 0.77653333rem;
  text-align: center;
}
.notApplied i {
  display: inline-block;
  width: 1.64266667rem;
  height: 1.09653333rem;
  background-image: url("../../images/myApply/noLesson.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.notApplied .apply-btn {
  margin: 0.21333333rem auto 0 auto;
  display: block;
  border-radius: 0.13653333rem;
  -webkit-border-radius: 0.13653333rem;
  width: 1.024rem;
  height: 0.27306667rem;
  background-color: #5ad6a9;
  color: #ffffff;
  font-size: 0.11093333rem;
  text-align: center;
  line-height: 0.27306667rem;
}
.hasApplied ul.nav {
  position: fixed;
  top: 0.3584rem;
  left: 0;
  padding-left: 0.09386667rem;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  height: 0.2944rem;
  background-color: #f6f6f6;
}
.hasApplied ul.nav::after {
  display: table;
  clear: both;
  content: "";
}
.hasApplied ul.nav li {
  float: left;
  border: none;
  width: 0.75093333rem;
  height: 0.27733333rem;
  line-height: 0.27733333rem;
  font-size: 0.13653333rem;
  color: #989898;
  text-align: center;
}
.hasApplied ul.nav li.active {
  color: #3e3e3e !important;
  border-bottom: 0.01706667rem solid #ee164e;
}
.hasApplied .content {
  padding: 0.29866667rem 0;
  display: none;
}
.hasApplied .content ul {
  padding: 0 0.09386667rem;
}
.hasApplied .content ul li {
  padding: 0.128rem 0;
  border-bottom: 1px solid #e9e9e9;
}
.hasApplied .content ul li a {
  display: block;
}
.hasApplied .content ul li a::after {
  display: table;
  clear: both;
  content: "";
}
.hasApplied .content ul li a img {
  float: left;
  width: 0.768rem;
  height: 0.512rem;
}
.hasApplied .content ul li a .active-title {
  float: left;
  margin-left: 0.08533333rem;
}
.hasApplied .content ul li a .active-title h3 {
  padding-bottom: 0.23893333rem;
  text-align: left;
  font-size: 0.13653333rem;
  color: #3a3a3a;
  font-weight: normal;
}
.hasApplied .content ul li a .active-title p {
  font-size: 0.1024rem;
}
.hasApplied .content ul li a .active-title p.end {
  color: #7d7d7d;
}
.hasApplied .content ul li a .active-title p.begin {
  color: #f57c11;
}
.hasApplied .active-content {
  display: block;
}
