<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>首页</title>
	<link rel="stylesheet" href="../static/css/public/common.css"/>
	<link rel="stylesheet" href="../static/css/public/public.css"/>
	<link rel="stylesheet" href="../static/js/public/swiper/swiper.min.css"/>
	<link rel="stylesheet" href="../static/css/index.css"/>
	<script>
	(function(doc, win) {
		var docEl = doc.documentElement,
			isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
			dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
			//dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
			scale = 1 / dpr,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
			docEl.dataset.dpr = dpr;
		var recalc = function() {
			var width = docEl.clientWidth;
			if (width / dpr > 640) {
				width = 640 * dpr;
			}
			window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
			docEl.style.fontSize = 200 * (width / 640) + 'px';
		};
		recalc();
		if (!doc.addEventListener) return;
		win.addEventListener(resizeEvt, recalc, false);
	})(document, window);
	</script>
</head>
<body>
<header>
	<a class="back" href="javascript:;" ></a>
	课程介绍
</header>

<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner1.jpg" alt="沙画"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner2.jpg" alt="故宫"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner3.jpg" alt="灰色地带"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner4.jpeg" alt="喵喵喵"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner5.jpeg" alt="汪汪"/></div>
	</div>
	<div class="swiper-pagination"></div>
	<div class="banner-title">沙画</div>
</div>
<div class="icon-box">
	<a href="#">
		<i></i>
		<p>课程介绍</p>
	</a>
	<a href="#">
		<i></i>
		<p>学生选课</p>
	</a>
	<a href="#">
		<i></i>
		<p>我的课程</p>
	</a>
	<a href="#">
		<i></i>
		<p>课程评价</p>
	</a>
	<a href="#">
		<i></i>
		<p>知识库</p>
	</a>
	<a href="#">
		<i></i>
		<p>业余活动</p>
	</a>
</div>
<div class="list-title">
	<i></i>
	<span>热门比赛</span>
</div>
<ul>
	<li>
		<a href="#">
			<img src="../static/images/index/img1.png" alt=""/>
			<div class="right">
				<p class="title">比赛比赛比赛比赛比赛</p>
				<p class="time">2016年4月23日</p>
			</div>
			<div class="more-text">同一片蓝天下，他们拥有一样的童年，心中却怀着不一样的童话与梦幻。由国际少儿美术协会（ICAA）主办的第八届国际少儿书画大赛征稿活动已经开始。</div>
		</a>
		<p class="showMore"><i></i><span class="showMoreButn">展开</span></p>
	</li>
	<li>
		<a href="#">
			<img src="../static/images/index/img1.png" alt=""/>
			<div class="right">
				<p class="title">比赛比赛比赛比赛比赛</p>
				<p class="time">2016年4月23日</p>
			</div>
			<div class="more-text">同一片蓝天下，他们拥有一样的童年，心中却怀着不一样的童话与梦幻。由国际少儿美术协会（ICAA）主办的第八届国际少儿书画大赛征稿活动已经开始。</div>
		</a>
		<p class="showMore"><i></i><span class="showMoreButn">展开</span></p>
	</li>
	<li>
		<a href="#">
			<img src="../static/images/index/img1.png" alt=""/>
			<div class="right">
				<p class="title">比赛比赛比赛比赛比赛</p>
				<p class="time">2016年4月23日</p>
			</div>
			<div class="more-text">同一片蓝天下，他们拥有一样的童年，心中却怀着不一样的童话与梦幻。由国际少儿美术协会（ICAA）主办的第八届国际少儿书画大赛征稿活动已经开始。</div>
		</a>
		<p class="showMore"><i></i><span class="showMoreButn">展开</span></p>
	</li>
	<li>
		<a href="#">
			<img src="../static/images/index/img1.png" alt=""/>
			<div class="right">
				<p class="title">比赛比赛比赛比赛比赛</p>
				<p class="time">2016年4月23日</p>
			</div>
			<div class="more-text">同一片蓝天下，他们拥有一样的童年，心中却怀着不一样的童话与梦幻。由国际少儿美术协会（ICAA）主办的第八届国际少儿书画大赛征稿活动已经开始。</div>
		</a>
		<p class="showMore"><i></i><span class="showMoreButn">展开</span></p>
	</li>
	<li>
		<a href="#">
			<img src="../static/images/index/img1.png" alt=""/>
			<div class="right">
				<p class="title">比赛比赛比赛比赛比赛</p>
				<p class="time">2016年4月23日</p>
			</div>
			<div class="more-text">同一片蓝天下，他们拥有一样的童年，心中却怀着不一样的童话与梦幻。由国际少儿美术协会（ICAA）主办的第八届国际少儿书画大赛征稿活动已经开始。</div>
		</a>
		<p class="showMore"><i></i><span class="showMoreButn">展开</span></p>
	</li>
</ul>
<div class="swiper-container-advertisement">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner1.jpg" alt="沙画"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner2.jpg" alt="故宫"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner3.jpg" alt="灰色地带"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner4.jpeg" alt="喵喵喵"/></div>
		<div class="swiper-slide"><img src="../static/images/lessonInstroduction/banner5.jpeg" alt="汪汪"/></div>
	</div>
	<div class="swiper-pagination-advertisement"></div>
</div>
</body>
<script src="../static/js/public/zepto.min.js"></script>
<script src="../static/js/public/swiper/swiper.js"></script>
<script src="../static/js/public/public.js"></script>
<script>
	$(function (){
		$(".showMore").on("click",function (){
			var index = $(this).parent("li").index();
			var $moreText = $(".more-text").eq(index);
			console.log(index);
			if($moreText.css("display") == "none"){
				$(".showMoreButn").html("收起");
				$moreText.show();
			}else{
				$(".showMoreButn").html("展开");
				$moreText.hide();
			}


		});
	});
</script>
</html>