<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>登陆</title>
	<link rel="stylesheet" href="../static/css/public/common.css"/>
	<link rel="stylesheet" href="../static/css/public/public.css"/>
	<link rel="stylesheet" href="../static/css/login.css">
	<style media="screen">
		.role{
			position: relative;
			z-index: 1;
			padding-left: 10px;
			font-size: 0.128rem;
			line-height: 0.3060rem;
			text-align: left;
		}
		.role-list{
			display: none;
			position: relative;
			background-color: #fff;
			margin-left: -1px;
			z-index: 1;
			width: 1.536rem;
			box-sizing: border-box;
			border: 1px solid #aaa;
			border-top: none;
			text-align: left;
			font-size: 0.128rem;
			}
		.role-list>li{
			padding: 0 10px;
			line-height: 0.3072rem;
			margin: 0;
			border-bottom: 1px solid #aaa;
		}
		.role-list>li:last-child{
			border: none;
		}

		section ul li div.right input{
			font-size: 0.128rem;
			text-align: left;
		}
	</style>
	<script>
	(function(doc, win) {
		var docEl = doc.documentElement,
			isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
			dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
			//dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
			scale = 1 / dpr,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
			docEl.dataset.dpr = dpr;
		var recalc = function() {
			var width = docEl.clientWidth;
			if (width / dpr > 640) {
				width = 640 * dpr;
			}
			window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
			docEl.style.fontSize = 200 * (width / 640) + 'px';
		};
		recalc();
		if (!doc.addEventListener) return;
		win.addEventListener(resizeEvt, recalc, false);
	})(document, window);
	</script>
</head>
<body>
	<header>
		<a class="back" href="javascript:;" ></a>
		登录
	</header>
	<section>
		<ul>
			<li>
				<div class="left">角色：</div>
				<div class="right">
					<div class="J_role role" data-roleType="">学生</div>
					<span class="select-btn"><i></i></span>
					<ul class="J_roleList role-list">
						<li data-roleType="1">教师</li>
						<li data-roleType="2">学生</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="left">账号：</div>
				<div class="right">
					<input name="userid" type="text" placeholder="请输入学号"/>
				</div>
				<p class="error"></p>
			</li>
			<li>
				<div class="left">密码：</div>
				<div class="right">
					<input class="J_password" type="password" name="password" placeholder="请输入密码"/>
				</div>
				<p class="error"></p>
			</li>
			<li class="J_resetPassword">
				<div class="left">新密码：</div>
				<div class="right">
					<input class="J_password" type="password" name="newPassword" placeholder="请输入新密码"/>
				</div>
				<p class="error"></p>
			</li>
			<li class="J_resetPassword">
				<div class="left" >确认密码：</div>
				<div class="right">
					<input class="J_password" type="password" name="confirmPassword" placeholder="请再次输入新密码"/>
				</div>
				<p class="error J_error">初次登陆，请设置新密码！</p>
			</li>
		</ul>
		<button id="login">登陆</button>
	</section>
	<div class="modal-box">
		<div class="modal-info">账号或密码错误！</div>
	</div>
</body>
<script src="../static/js/public/zepto.min.js"></script>
<script type="text/javascript">
	// 下拉框
	$(".J_role").on("click",function(){
		if($(this).hasClass("current")){
			$(this).removeClass("current");
			$(".J_roleList").hide();
		}else{
			$(this).addClass("current");
			$(".J_roleList").show();
		}
	});
	$(".J_roleList li").on("click", function () {
		var txt = $(this).text();
		var roleType = $(this).attr("data-roleType")
		$(".J_role").text(txt).attr("data-roleType",roleType).trigger("click");
	});

	// 表单验证
	var str;
	var rule = /^[a-zA-Z0-9]{6,12}$/;
	$("input[name='userid']").on("blur", function(){
		var $this = $(this);
		var error = $this.parents("li").find(".error");
		str = $this.val();
		if(str == ""){
			error.text("* 帐号不能为空").show();
		}else{
			error.hide();
		}
	});
	$(".J_password").on("blur", function(){
		var $this = $(this);
		var error = $this.parents("li").find(".error");
		str = $this.val();
		if(str == "")
		{
			error.text("* 密码不能为空").show();
		}
		else if(str.match(rule))
		{
			error.hide();
		}
		else{
			error.text("* 密码6-16数字或字母组成").show();
		}

		$("input[name='newPassword']").on("blur", function(){
			var $this = $(this);
			var confirmPassword = $("input[name='confirmPassword']");
			var error = $(".J_error")
			if(confirmPassword.val() == ""){
				return false
			}else{
				str = $this.val();
				if(str != confirmPassword.val()){
					error.text("* 两次密码输入不一致").show();
				}else{
					error.hide();
				}
			}
		});
		$("input[name='confirmPassword']").on("blur", function(){
			var $this = $(this);
			var newPassword = $("input[name='newPassword']");
			var error = $(".J_error")
			if($this.val() != newPassword.val()){
				error.text("* 两次密码输入不一致").show();
			}else{
				error.hide();
			}
		});
	});

	// 登录
	var loginBtn = $("#login");
	loginBtn.on("click", function(){
		var roleType = $(".J_role").attr("data-roleType"),
			userid = $("input[name='userid']").val(),
			password = $("input[name='password']").val(),
			newPassword = $("input[name='newPassword']").val();
		var data = {};
		$.ajax({
			type: "post",
			url: "",
			data: data,
			success: function (data) {
			}
		})
	})
</script>

</html>
