.clearfix {
  display: table;
  clear: both;
  content: '';
}
.icon-box {
  margin-top: -0.0768rem;
  padding: 0 0.35413333rem 0.21333333rem 0.35413333rem;
  border-bottom: 0.06826667rem solid #f0f0f0;
  width: 100%;
}
.icon-box a {
  margin: 0.29013333rem 0.14506667rem 0 0.14506667rem;
  display: inline-block;
  width: 0.512rem;
}
.icon-box a i {
  display: inline-block;
  width: 0.512rem;
  height: 0.512rem;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-box a:nth-child(1) i {
  background-image: url("../../static/images/index/icon1.png");
}
.icon-box a:nth-child(2) i {
  background-image: url("../../static/images/index/icon2.png");
}
.icon-box a:nth-child(3) i {
  background-image: url("../../static/images/index/icon3.png");
}
.icon-box a:nth-child(4) i {
  background-image: url("../../static/images/index/icon4.png");
}
.icon-box a:nth-child(5) i {
  background-image: url("../../static/images/index/icon5.png");
}
.icon-box a:nth-child(6) i {
  background-image: url("../../static/images/index/icon6.png");
}
.icon-box a p {
  padding-top: 0.0896rem;
  text-align: center;
  font-size: 0.128rem;
  color: #1a1a1a;
}
.list-title {
  padding-left: 0.09386667rem;
  border-bottom: 0.0256rem solid #f0f0f0;
  width: 100%;
  height: 0.52053333rem;
  line-height: 0.52053333rem;
}
.list-title i {
  display: inline-block;
  width: 0.26453333rem;
  height: 0.26453333rem;
  background-image: url("../../static/images/index/title.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  vertical-align: middle;
}
.list-title span {
  display: inline-block;
  padding-left: 0.08533333rem;
  font-size: 0.1536rem;
  color: #1a1a1a;
  vertical-align: middle;
}
ul {
  padding: 0 0.09386667rem;
  width: 100%;
}
ul li {
  position: relative;
  padding: 0.128rem 0;
  border-bottom: 1px solid #bfbfbf;
  width: 100%;
}
ul li a {
  display: inline-block;
}
ul li a::after {
  display: table;
  clear: both;
  content: '';
}
ul li a img {
  float: left;
  width: 0.768rem;
  height: 0.512rem;
}
ul li a .right {
  float: left;
  padding-left: 0.08533333rem;
}
ul li a .right p {
  text-align: left;
}
ul li a .right .title {
  padding-top: 0.03413333rem;
  padding-bottom: 0.23466667rem;
  font-size: 0.11946667rem;
  color: #2b2b2b;
}
ul li a .right .time {
  font-size: 0.09386667rem;
  color: #6c6c6c;
}
ul li a .more-text {
  display: none;
  float: left;
  padding: 0.08533333rem 0.0896rem 0 0.0896rem;
  width: 100%;
  font-size: 0.11093333rem;
  color: #545454;
  text-align: justify;
  line-height: 0.1536rem;
}
ul li .showMore {
  position: absolute;
  right: 0;
  top: 0.18346667rem;
  border: 1px solid #3bbebe;
  border-radius: 0.11093333rem;
  -webkit-border-radius: 0.11093333rem;
  width: 0.512rem;
  height: 0.2304rem;
  background-color: transparent;
  font-size: 0.11093333rem;
  color: #3bbebe;
  line-height: 0.2304rem;
  text-align: center;
}
ul li .showMore i {
  margin-right: 0.05546667rem;
  display: inline-block;
  width: 0.1024rem;
  height: 0.1024rem;
  background-image: url("../../static/images/index/more.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.swiper-container-advertisement {
  position: relative;
  width: 100%;
  height: 1.50186667rem;
  overflow: hidden;
}
.swiper-container-advertisement .swiper-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-container-advertisement .swiper-wrapper::after {
  display: table;
  clear: both;
  content: '';
}
.swiper-container-advertisement .swiper-wrapper .swiper-slide {
  float: left;
  width: 100%;
  height: 100%;
}
.swiper-container-advertisement .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-container-advertisement .swiper-pagination-advertisement {
  position: absolute;
  right: 0;
  bottom: 0.08533333rem;
  width: 1.0112rem;
  height: 0.06826667rem;
}
.swiper-container-advertisement .swiper-pagination-advertisement span {
  margin-right: 0.11946667rem;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 0.06826667rem;
  height: 0.06826667rem;
  background-color: #ffffff;
}
.swiper-container-advertisement .swiper-pagination-advertisement .swiper-active-switch {
  background-color: #5ad6a9;
}
