<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>个人资料</title>
    <link rel="stylesheet" href="../../static/css/public/common.css"/>
    <link rel="stylesheet" href="../../static/css/public/public.css"/>
    <link rel="stylesheet" href="../../static/css/personalInfo/index.css">
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
                    dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
            //dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                    scale = 1 / dpr,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            docEl.dataset.dpr = dpr;
            var recalc = function() {
                var width = docEl.clientWidth;
                if (width / dpr > 640) {
                    width = 640 * dpr;
                }
                window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
                docEl.style.fontSize = 200 * (width / 640) + 'px';
            };
            recalc();
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
</head>
<body>
<header>
    <a class="back" href="javascript:;" ></a>
    个人资料
</header>
<div class="login-box">
    <a href="#">
        <div class="login-img">
            <img src=",../../../../static/images/personalInfo/login.png" alt="">
        </div>
        <div class="login-name">点击登录</div>
    </a>
</div>
<ul>
    <li>
        <span class="left">学籍号</span>
        <span class="right">1234567890123456</span>
    </li>
    <li>
        <span class="left">班级</span>
        <span class="right">203</span>
    </li>
    <li>
        <span class="left">学校</span>
        <span class="right">杭州翠苑二小</span>
    </li>
</ul>
<a href="#" class="correct">
    <span>修改密码</span>
    <i></i>
</a>
<a href="#" class="correct">
    <span>退出登录</span>
    <i></i>
</a>
</body>
</html>