<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>业余活动——我的报名</title>
    <link rel="stylesheet" href="../../static/css/public/common.css"/>
    <link rel="stylesheet" href="../../static/css/public/public.css"/>
    <link rel="stylesheet" href="../../static/css/myApply/index.css"/>
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
                    dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
            //dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                    scale = 1 / dpr,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            docEl.dataset.dpr = dpr;
            var recalc = function() {
                var width = docEl.clientWidth;
                if (width / dpr > 640) {
                    width = 640 * dpr;
                }
                window.remScale =  width / 640;//缩放比例，用于JS设置大小时进行等比缩放
                docEl.style.fontSize = 200 * (width / 640) + 'px';
            };
            recalc();
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
</head>
<body>
<header>
    <a class="back" href="javascript:;" ></a>
    我的报名
</header>
<div class="notApplied">
    <i></i>
    <a href="javascript:;" class="apply-btn">我要报名</a>
</div>
<div class="hasApplied">
    <ul class="nav">
        <li class="active">比赛</li>
        <li>活动</li>
        <li>讲座论坛</li>
        <li>小明星</li>
    </ul>
    <div class="content active-content">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>比赛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>活动</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>活动</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>活动</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>讲座论坛</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>小明星</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>小明星</h3>
                        <p class="end">已结束</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../static/images/myApply/lesson1.jpg" alt="图片加载失败"/>
                    <div class="active-title">
                        <h3>小明星</h3>
                        <p class="begin">未开始</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="loading-box">
    <div class="loading"><i></i><span>加载更多...</span></div>
</div>
</body>
<script src="../../static/js/public/zepto.min.js"></script>
<script>
    $(function (){
        $(".nav li").on("click",function (){
           var index = $(this).index();
           $(this).addClass("active").siblings("li").removeClass("active");
           $(".content").eq(index).addClass("active-content").siblings("div").removeClass("active-content");
        });
        $("body").on("touchend",function (){
            var bodyScrollHeight = $("body").scrollTop();
            var scrollHeight = $(document).height() - $(window).height();
            if(bodyScrollHeight == scrollHeight){
                $(".loading").show();
                $.ajax({
                    url : "",
                    type : "post",
                    dataType: "json",
                    success : function (result){
                        if(result){
                            $(".loading").hide();
                            $("ul").append(result);//页面展示加载的内容
                        }else{
                            $(".loading").hide();
                        }
                    },
                    error : function (e){
                        $(".loading").hide();
                    }
                });
            }else{
                $(".loading").hide();
            }
        });
    });
</script>
</html>