* {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0px auto;
  font-size: 12px;
  color: #333;
  line-height: 1;
  background-color: #ffffff;
  width: 100%;
  max-width: 640px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: middle;
}
input,
textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
  text-align: left;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
}
.dee-layer{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
}
.dee-layer i{
  display: inline-block;
  position: fixed;
  top: 2.1717333333333335rem;
  left: 50%;
  padding: 0.11946666666666667rem;
  border-radius: 0.0256rem;
  -webkit-border-radius: 0.0256rem;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: 0.11093333333333333rem;
  text-align: center;
  font-style: normal;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.dee-layer-show{
  animation: modalShow 0.4s linear forwards;
  -webkit-animation:modalShow 0.4s linear forwards;
}
.dee-layer-hide{
  animation: modalHide 0.4s linear forwards;
  -webkit-animation:modalHide 0.4s linear forwards;
}

@keyframes modalShow{
  0% {top:0;opacity: 0;}
  50% {top:1.0858666666666668rem;opacity: 0.5;}
  100% {top: 2.1717333333333335rem;opacity: 1;}
}
@keyframes modalHide{
  0% {top:2.1717333333333335rem;;opacity: 1;}
  50% {top:1.0858666666666668rem;opacity: 0.5;}
  100% {top: 0;opacity: 0;}
}